<div class="modal fade" bsModal #editorModal="bs-modal" (onHidden)="onEditorModalHidden()" [config]="{backdrop: 'static'}" tabindex="-1" [class.fullScreenModal]="isFullScreenModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div *ngIf="!isViewDetail" class="EditForm">
                <form *ngIf="formResetToggle" [attr.autocomplete]="isGeneralEditor ? NaN : null" class="form-horizontal" name="VatTuPhieuYeuCauInfoForm" #f="ngForm" novalidate (ngSubmit)="f.form.valid ? save() :
          (!nguoiYeuCau.valid && showErrorAlert('NguoiYeuCau không được để trống', 'Vui lòng nhập NguoiYeuCau!'));
(!phongbanChk && showErrorAlert('Bộ Phận Yêu Cầu không được để trống', 'Vui lòng nhập Bộ Phận Yêu Cầu!'));
(!nycCHk && showErrorAlert('Người Yêu Cầu không được để trống', 'Vui lòng nhập Người Yêu Cầu!'));
(!mucDichSuDung.valid && showErrorAlert('Mục đích sử dụng không được để trống', 'Vui lòng nhập Mục đích sử dụng!'));
(!ntnCHk && showErrorAlert('Người tiếp nhận không được để trống', 'Vui lòng nhập Người tiếp nhận!'));
">
                    <div class="modal-header">
                        <p *ngIf="isNew" class="modal-title pull-left"><i class="fa fa-plus"></i> Tạo phiếu yêu cầu</p>
                        <p *ngIf="isEdit" class="modal-title pull-left"><i class="fa fa-pencil-square-o"></i> Chỉnh sửa phiếu yêu cầu</p>
                        <button type="button" class="close pull-right" title="Close" (click)="editorModal.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
                        <div class="col-sm-4 has-feedback">
                            <label class="control-label" for="phongBanId-{{uniqueId}}">Bộ Phận Yêu Cầu</label>
                            <div class="control" [ngClass]="{'has-success': f.submitted && phongbanChk, 'has-error' : f.submitted && !phongbanChk}">
                                <select name="phongBanId" [(ngModel)]="VatTuPhieuYeuCauEdit.phongBanId" #phongBanId="ngModel" class="form-control" (change)="phongbanChange(phongBanId.value)">
                                    <option value="0">-- Chọn Phòng Ban--</option>
                                    <option *ngFor="let o of phongbans" value="{{o.phongBanId}}">
                                        {{o.tenPhongBan}}
                                    </option>
                                </select>
                                <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': phongbanChk, 'glyphicon-remove' : !phongbanChk}"></span>
                                <span *ngIf="showValidationErrors && f.submitted && !phongbanChk" class="errorMessage">
                                    Vui lòng nhập Bộ Phận Yêu Cầu!
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4 has-feedback">
                            <label class="control-label" for="nguoiYeuCau-{{uniqueId}}">Người yêu cầu</label>
                            <div class="control" [ngClass]="{'has-success': f.submitted && nycCHk, 'has-error' : f.submitted && !nycCHk}">
                                <select name="nguoiYeuCau" #nguoiYeuCau="ngModel" class="form-control" [(ngModel)]="VatTuPhieuYeuCauEdit.nguoiYeuCau" (change)="nycChange(nguoiYeuCau.value)">
                                    <option value="0">-- Chọn Người Yêu Cầu--</option>
                                    <option *ngFor="let o of NDTN" value="{{o.userName}}">
                                        {{o.userName}}
                                    </option>
                                </select>
                                <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': nycCHk, 'glyphicon-remove' : !nycCHk}"></span>
                                <span *ngIf="showValidationErrors && f.submitted && !nycCHk" class="errorMessage">
                                    Vui lòng nhập người yêu cầu!
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4 has-feedback">
                            <label class="control-label" for="nguoiTiepNhan-{{uniqueId}}">Người Tiếp Nhận</label>
                            <div class="control" [ngClass]="{'has-success': f.submitted && ntnCHk, 'has-error' : f.submitted && !ntnCHk}">
                                <select name="nguoiTiepNhan" #nguoiTiepNhan="ngModel" class="form-control" [(ngModel)]="VatTuPhieuYeuCauEdit.nguoiTiepNhan" (change)="ntnChange(nguoiTiepNhan.value)">
                                    <option value="0">-- Chọn Người Tiếp Nhận --</option>
                                    <option *ngFor="let o of NDTN" value="{{o.userName}}">
                                        {{o.userName}}
                                    </option>
                                </select>
                                <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': ntnCHk, 'glyphicon-remove' : !ntnCHk}"></span>
                                <span *ngIf="showValidationErrors && f.submitted && !ntnCHk" class="errorMessage">
                                    Vui lòng nhập người tiếp nhận!
                                </span>
                            </div>
                        </div>
                        <div class="has-feedback col-sm-12">
                            <label class="control-label" for="mucDichSuDung-{{uniqueId}}">Mục đích sử dụng</label>
                            <div class="control" [ngClass]="{'has-success': f.submitted && mucDichSuDung.valid, 'has-error' : f.submitted && !mucDichSuDung.valid}">
                                <input autofocus type="text" class="form-control" name="mucDichSuDung" [(ngModel)]="VatTuPhieuYeuCauEdit.mucDichSuDung" #mucDichSuDung="ngModel" required />
                                <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': mucDichSuDung.valid, 'glyphicon-remove' : !mucDichSuDung.valid}"></span>
                                <span *ngIf="showValidationErrors && f.submitted && !mucDichSuDung.valid" class="errorMessage">
                                    Vui lòng nhập mục đích sử dụng!
                                </span>
                            </div>
                        </div>
                        <div style="display: inline-flex">
                            <div class="has-feedback col-sm-4">
                                <label class="control-label" for="vatTuId-{{uniqueId}}">Chọn vật tư</label>
                                <div class="control" [ngClass]="{'has-success': f.submitted && vattuCHk, 'has-error' : f.submitted && !vattuCHk}">
                                    <kendo-combobox class="form-control"
                                                    [data]="vattusFilter" [placeholder]="'Vật tư'"
                                                    [textField]="'tenVatTu'"
                                                    [valueField]="'vatTuId'"
                                                    [(ngModel)]="vattuSelected" name="vattu"
                                                    (valueChange)="vattuChange($event)"
                                                    [filterable]="true">
                                        <ng-template kendoDropDownListNoDataTemplate>
                                            <p><span class="k-icon k-i-warning" style="font-size:30px"></span><br /><br /> Không tìm thấy kết quả nào</p>
                                        </ng-template>
                                        <ng-template kendoComboBoxItemTemplate let-dataItem>
                                            &nbsp;{{ dataItem.tenVatTu }}
                                        </ng-template>
                                    </kendo-combobox>
                                </div>
                            </div>
                            <div class="has-feedback col-sm-2">
                                <label class="control-label" for="soLuong-{{uniqueId}}">Số lượng</label>
                                <div class="control" [ngClass]="{'has-success': f.submitted && soLuong.valid, 'has-error' : f.submitted && !soLuong.valid}">
                                    <input autofocus type="number" min="1" class="form-control" name="soLuong" [(ngModel)]="VatTuYeuCauEdit.soLuong" #soLuong="ngModel" required (change)="soluongChange(soLuong.value)" />
                                </div>
                            </div>
                            <div class="has-feedback col-sm-4">
                                <label class="control-label" for="ghiChu-{{uniqueId}}">Ghi chú</label>
                                <div class="control">
                                    <input autofocus type="text" class="form-control" name="ghiChu" [(ngModel)]="VatTuYeuCauEdit.ghiChu" #ghiChu="ngModel" />
                                </div>
                            </div>
                            <div class="col-sm-2" style="margin-top: auto">
                                <button type="button" (click)="addListVatTu(vattuSelected.vatTuId, soLuong.value, ghiChu.value)" class="btn btn-info"><i class='fa fa-list'></i> Chọn</button>
                            </div>
                        </div>
                        <div style="height: auto;padding:5px 2% 2% 2%;" *ngIf="list.length > 0">
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table class='table'>
                                    <thead>
                                        <tr style="background-color:#048b8b;">
                                            <th>Vật tư</th>
                                            <th>Đơn vị tính</th>
                                            <th>Xuất xứ</th>
                                            <th>Số lượng</th>
                                            <th>Ghi chú</th>
                                            <th>Chức năng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let vtyc of list">
                                            <td>{{ vtyc.vattus.tenVatTu }}</td>
                                            <td>{{ vtyc.vattus.donViTinhs.tenDonViTinh }}</td>
                                            <td>{{ vtyc.vattus.quocTichs.tenNuoc }}</td>
                                            <td>{{ vtyc.soLuong }}</td>
                                            <td>{{ vtyc.ghiChu }}</td>
                                            <td>
                                                <button type="button" (click)="deleteFromList(vtyc)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="has-feedback col-sm-12">
                            <label class="control-label" for="dienGiai-{{uniqueId}}">Diễn Giải</label>
                            <div class="control">
                                <input autofocus type="text" class="form-control" name="dienGiai" [(ngModel)]="VatTuPhieuYeuCauEdit.dienGiai" #dienGiai="ngModel" />
                            </div>
                        </div>
                    </div>                    
                    <div class="col-md-12">
                        <hr class="edit-last-separator-hr" />
                    </div>
                    <div class="col-sm-actionBtn-form-group modal-footer">
                        <div class="col-sm-7">
                            <div class="pull-right">
                                <button *ngIf="!isEditMode && isGeneralEditor" type="button" (click)="close()" class="btn btn-default"><i class='fa fa-close'></i> {{'users.editor.Close' | translate}}</button>
                                <button *ngIf="!isEditMode && !isGeneralEditor" type="button" (click)="edit()" class="btn btn-default"><i class='fa fa-edit'></i> {{'users.editor.Edit' | translate}}</button>
                                <button *ngIf="isEditMode" type="button" (click)="cancel()" class="btn btn-danger" [disabled]="isSaving"><i class='fa fa-times'></i> {{'users.editor.Cancel' | translate}}</button>
                                <button *ngIf="isEditMode" type="submit" class="btn btn-primary" [disabled]="isSaving">
                                    <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('users.editor.Saving' | translate) : ('users.editor.Save' | translate)}}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div *ngIf="isViewDetail">
                <div class="modal-header">
                    <p class="modal-title pull-left">
                        <i class="fa fa-eye"></i> Chi tiết vật tư - <span *ngIf="VatTuPhieuYeuCauEdit.trangThai == 1">Đã gửi đề xuất</span>
                        <span *ngIf="VatTuPhieuYeuCauEdit.trangThai == 2">Đã được phê duyệt</span>
                        <span *ngIf="VatTuPhieuYeuCauEdit.trangThai == 3">Không được phê duyệt</span>
                    </p>
                    <button type="button" class="close pull-right" title="Close" (click)="editorModal.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <form #f="ngForm">
                            <div>
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td colspan="8" class="headView">Thông tin chung</td>
                                        </tr>
                                        <tr>
                                            <td class="boldText">Bộ phận yêu cầu</td>
                                            <td>{{VatTuPhieuYeuCauEdit.phongbans.tenPhongBan}}</td>
                                            <td class="boldText">Người yêu cầu</td>
                                            <td>{{VatTuPhieuYeuCauEdit.nguoiYeuCau}}</td>
                                            <td class="boldText">Người tiếp nhận</td>
                                            <td>{{VatTuPhieuYeuCauEdit.nguoiTiepNhan }}</td>
                                            <td class="boldText">Người phê duyệt</td>
                                            <td>{{VatTuPhieuYeuCauEdit.nguoiDuyet}}</td>
                                        </tr>
                                        <tr>
                                            <td class="boldText">Mục đích sử dụng</td>
                                            <td colspan="7">{{VatTuPhieuYeuCauEdit.mucDichSuDung}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" class="headView">Vật tư đề xuất</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="boldText">Vật tư</td>
                                            <td colspan="1" class="boldText">Đơn vị tính</td>
                                            <td colspan="2" class="boldText">Xuất xứ</td>
                                            <td colspan="1" class="boldText">Số lượng</td>
                                            <td colspan="2" class="boldText">Ghi chú</td>
                                        </tr>
                                        <tr *ngFor="let vtyc of list">
                                            <td colspan="2">{{ vtyc.vattus.tenVatTu }}</td>
                                            <td colspan="1">{{ vtyc.vattus.donViTinhs.tenDonViTinh }}</td>
                                            <td colspan="2">{{ vtyc.vattus.quocTichs.tenNuoc }}</td>
                                            <td colspan="1">{{ vtyc.soLuong }}</td>
                                            <td colspan="2">{{ vtyc.ghiChu }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="actionBtn-form-group">
                        <div class="row">
                            <div style="text-align:center;">
                                <button type="button" (click)="confirmDeXuat(VatTuPhieuYeuCauEdit)" *ngIf="VatTuPhieuYeuCauEdit.trangThai == 1 || VatTuPhieuYeuCauEdit.trangThai == 3" class="btn btn-success"><i class="fa fa-check"></i> Phê Duyệt</button> 
                                <button type="button" (click)="unconfirmDeXuat(VatTuPhieuYeuCauEdit)" *ngIf="VatTuPhieuYeuCauEdit.trangThai == 1" class="btn btn-danger"><i class="fa fa-close"></i> Không Phê Duyệt</button> 
                                <button type="button" *ngIf="VatTuPhieuYeuCauEdit.trangThai == 1" (click)="movetoEditForm()" class="btn btn-primary"><i class='fa fa-edit'></i> {{'users.editor.Edit' | translate}}</button>
                                <button type="button" (click)="closeModal()" class="btn btn-danger"><i class='fa fa-close'></i> {{'users.editor.Close' | translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>