<div class="modal fade" bsModal #phieuthuModal="bs-modal" (onHidden)="onHidden()" [config]="{backdrop: 'static'}" tabindex="-1">
    <div class="modal-dialog modal-lg" style="width:1100px">
        <div class="modal-content">
            <div class="EditForm">
                <!--<form class="form-horizontal" #f="ngForm">-->
                <div class="modal-header">
                    <p class="modal-title pull-left">
                        <i class="fa fa-plus"></i> Xuất phiếu thu - Phí gửi xe - Căn hộ: {{matbangObj.tenMatBang}}<span *ngIf="maPhieuThu!=''"> - Mã phiếu thu: #{{maPhieuThu}} - Ngày xuất phiếu thu: {{ngayLapPhieuThu | date: 'dd/MM/yyyy'}}</span>
                    </p>
                    <button type="button" class="close pull-right" title="Close" (click)="phieuthuModal.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" malihu-scrollbar [scrollbarOptions]="scrollbarOptions" style="max-height:500px">
                    <div class="row">
                        <div class="clearfix"></div>
                        <div class="col-md-12 table-item">
                            <table class="table">
                                <tr>
                                    <th>Mã thẻ xe</th>
                                    <th>Biển số</th>
                                    <th width="87">Kỳ hạn (Số tháng)</th>
                                    <th>Từ ngày</th>
                                    <th>Đến ngày</th>
                                    <th align="right">Đơn giá/tháng (đ)</th>
                                    <th align="right">Thành tiền (đ)</th>
                                </tr>
                                <tr *ngFor="let obj of thexes">
                                    <td>{{obj.maTheXe}}</td>
                                    <td>{{obj.bienSoXe}}</td>
                                    <td>
                                        <select name="kyThanhToan" [(ngModel)]="obj.kyThanhToan" #kyThanhToan="ngModel" class="form-control" style="width:100%;height:20px;padding:0"
                                                (change)="kyThanhToanChange(obj,kyThanhToan.value)">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                    </td>
                                    <td>{{obj.hanTuNgay | date: 'dd/MM/yyyy'}}</td>
                                    <td>{{obj.hanDenNgay | date: 'dd/MM/yyyy'}}</td>
                                    <td align="right">{{getFormatPrice(obj.phiGuiXe)}}</td>
                                    <td align="right">{{getFormatPrice(obj.kyThanhToan * obj.phiGuiXe)}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-12 table-item">
                            <div class="col-md-1 floatright">
                                <label class="floatright">{{tongTien}}</label>
                            </div>
                            <div class="col-md-2 floatright">
                                <label><b>Tổng tiền thanh toán: </b></label>
                            </div>
                        </div>
                        <div style="width:60%; margin:0 auto">
                            <label class="control-label">Ghi chú</label>
                            <div class="control">
                                <textarea type="text" class="form-control" name="ghiChu" [(ngModel)]="ghiChu" #dienGiai="ngModel"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group actionBtn-form-group" style="margin-bottom:0">
                        <div class="col-sm-12" style="text-align:center">
                            <div class="center-block">
                                <button *ngIf="isNew" type="button" (click)="cancel()" class="btn btn-danger"><i class='fa fa-times'></i> Hủy</button>
                                <button *ngIf="!isNew" type="button" (click)="cancel()" class="btn btn-danger"><i class='fa fa-times'></i> Thoát</button>
                                <!--<button type="submit" class="btn btn-success"><i class='fa fa-money'></i> Xuất & In phiếu thu</button>-->
                                <button *ngIf="isNew" type="submit" (click)="save()" class="btn btn-primary"><i class='fa fa-save'></i> Xuất phiếu thu</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--</form>-->
            </div>
        </div>
    </div>
</div>
