
<section class="content-header">
    <h1>Quản lý Xuất kho</h1>
    <commonroad></commonroad>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div style="margin-bottom:1%" class="col-sm-6">
                <div class="row">
                    <search-box (searchChange)="onSearchChanged($event)" placeholder="Tìm kiếm">></search-box>
                </div>
            </div>
            <div style="margin-bottom:1%;" align="right" class="col-sm-6">
                <div class="row">
                    <a class="btn btn-primary" data-toggle="tooltip" href="javascript://" title="{{'preferences.addFlour' | translate}}" (click)="newVatTuDiChuyen()"><i class="fa fa-plus"></i></a>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="box box-info">
                <!-- /.box-header -->
                <div class="box-body">
                    <div>
                        <div class="dataTables_length">
                            <label>
                                Trạng thái
                                <select class="form-control input-sm" #drStatus (change)="SelectedStatusValue(drStatus.value)" [(ngModel)]="selectedGropup">
                                    <option value="0">---Tất cả---</option>
                                    <option value="1">Chờ xác nhận xuất kho</option>
                                    <option value="2">Đã xuất kho</option>
                                </select>
                            </label>
                            <label>
                                Hiển thị
                                <select class="form-control input-sm" #drSelected (change)="SelectedValue(drSelected.value)">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select> bản ghi
                            </label>
                        </div>
                        <div class="DTTT_container">
                            <a class="DTTT_button DTTT_button_print" (click)="printDiv(selected)" title="{{'preferences.Print' | translate}}" tabindex="0">
                                <span>{{'preferences.Print' | translate}}</span>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <ngx-datatable #myTable class="material colored-header sm table table-striped table-hover "
                                       [loadingIndicator]="loadingIndicator"
                                       [rows]="rows"
                                       [rowHeight]="45"
                                       [headerHeight]="45"
                                       [footerHeight]="45"
                                       [columns]="columns"
                                       [limit]="limit"
                                       [columnMode]="'force'"
                                       (select)='onSelect($event)'
                                       [selectionType]="'checkbox'"
                                       [selected]="selected">
                            <ngx-datatable-row-detail [rowHeight]="auto" #myDetailRow (toggle)="onDetailToggle($event)">
                                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                                    <div *ngFor="let item of getVatTuCha(row)">
                                        <h4>Thông tin vật tư con thuộc {{item.vattus.tenVatTu}}</h4>
                                        <table class="tableChild" [@fadeInOut] style="margin-bottom:15px;">
                                            <tr>
                                                <th>Mã Vật Tư</th>
                                                <th>Tên Vật Tư</th>
                                                <th>Model</th>
                                                <th>Hãng sản xuất</th>
                                                <th>Serial Number</th>
                                            </tr>
                                            <tr *ngFor="let list of getVatTuCon(item.vattus)">
                                                <td>{{ list.maVatTu }}</td>
                                                <td>{{ list.tenVatTu }}</td>
                                                <td>{{ list.model }}</td>
                                                <td>{{ list.hangSanXuats.tenHangSanXuat }}</td>
                                                <td>{{ list.serialNumber }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </ng-template>
                            </ngx-datatable-row-detail>
                            <ngx-datatable-column [width]="50">
                                <ng-template ngx-datatable-header-template #checkAllTemplate let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn" style="text-align:center">
                                    <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
                                </ng-template>
                                <ng-template ngx-datatable-cell-template #checkTemplate let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn" style="text-align:center">
                                    <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column [width]="50"
                                                  [resizeable]="true"
                                                  [sortable]="false"
                                                  [draggable]="false"
                                                  [canAutoResize]="false" name="#">
                                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                    <a href="javascript:void(0)"
                                       [class.datatable-icon-right]="!expanded"
                                       [class.datatable-icon-down]="expanded"
                                       title="Expand/Collapse Row"
                                       (click)="toggleExpandRow(row)" style="font-size:18px;">
                                    </a>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Mục đích xuất" style="width: 130px;">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-expanded="expanded">
                                    {{row.noiDung}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Đại diện yêu cầu">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-expanded="expanded">
                                    {{row.daiDienDVYC}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Đại diện nhận">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-expanded="expanded">
                                    {{row.daiDienDVN}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Ngày yêu cầu">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-expanded="expanded">
                                    {{row.ngayYeuCau | date: "dd/MM/yyyy"}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Trạng thái" style="width: 160px;">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-expanded="expanded">
                                    <div *ngIf="row.trangThai == 1" class="status-none">Chờ xác nhận xuất</div>
                                    <div *ngIf="row.trangThai == 2" class="status-use">Đã xuất kho</div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Chức năng">
                                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                    <a class="btn btn-func btn-success" href="javascript:;" (click)="viewVatTuDiChuyen(row)" title="Chi tiết"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-func btn-primary" *ngIf="row.trangThai != 2" href="javascript:;" (click)="editVatTuDiChuyen(row)" title="Sửa"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    <a class="btn btn-func btn-danger" *ngIf="row.trangThai != 2" href="javascript:;" (click)="deleteVatTuDiChuyen(row)" title="Xóa"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>

                        <vattudichuyen-info #vattudichuyenEditor [isGeneralEditor]="true"></vattudichuyen-info>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>