<div class="modal fade" bsModal #editorModal="bs-modal" (onHidden)="onEditorModalHidden()" [config]="{backdrop: 'static'}" tabindex="-1" [class.fullScreenModal]="isFullScreenModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div *ngIf="!isViewDetails" class="EditForm">
                <form *ngIf="formResetToggle" [attr.autocomplete]="isGeneralEditor ? NaN : null" class="form-horizontal" name="VatTuDiChuyenInfoForm" #f="ngForm" novalidate (ngSubmit)="f.form.valid ? save() :
          (!CHKdonViQLTS && showErrorAlert('Đơn vị QLTS không được để trống', 'Vui lòng nhập Đơn vị QLTS!'));
(!daiDienDVYC.valid && showErrorAlert('Đại diện ĐV Yêu Cầu không được để trống', 'Vui lòng nhập Đại diện ĐV Yêu Cầu!'));
(!CHKdonViYC && showErrorAlert('Đơn vị yêu cầu không được để trống', 'Vui lòng nhập Đơn vị yêu cầu!'));
(!nguoiYeuCau.valid && showErrorAlert('Người yêu cầu không được để trống', 'Vui lòng nhập Người yêu cầu!'));
(!CHKdonViNhan && showErrorAlert('Đơn vị nhận không được để trống', 'Vui lòng nhập Đơn vị nhận!'));
(!daiDienDVN.valid && showErrorAlert('Đại diện ĐV nhận không được để trống', 'Vui lòng nhập Đại diện ĐV nhận!'));
(!noiDung.valid && showErrorAlert('Nội dung không được để trống', 'Vui lòng nhập Nội dung!'));
">
                    <div class="modal-header">
                        <p *ngIf="!isEdit" class="modal-title pull-left"><i class="fa fa-plus"></i> Tạo phiếu xuất vật tư</p>
                        <p *ngIf="isEdit" class="modal-title pull-left"><i class="fa fa-pencil-square-o"></i> Chỉnh sửa phiếu xuất vật tư</p>
                        <button type="button" class="close pull-right" title="Close" (click)="editorModal.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
                        <div class="col-md-3 has-feedback">
                            <label class="col-md-12" for="phieuYeuCauVTId-{{uniqueId}}">Phiếu đề xuất</label>
                            <div class="control">
                                <select name="phieuYeuCauVTId" [(ngModel)]="VatTuPhieuDiChuyenEdit.phieuYeuCauVTId" #phieuYeuCauVTId="ngModel" class="form-control" (change)="dexuatChange(phieuYeuCauVTId.value)">
                                    <option value="0">-- Chọn Đề Xuất--</option>
                                    <option *ngFor="let o of dexuats" value="{{o.phieuYeuCauVTId}}">
                                        {{o.mucDichSuDung}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 has-feedback">
                            <label class="col-md-12" for="donViQLTS-{{uniqueId}}">Đơn Vị Quản Lí Tài Sản</label>
                            <div class="control" [ngClass]="{'has-success': f.submitted && CHKdonViQLTS, 'has-error' : f.submitted && !CHKdonViQLTS}">
                                <select name="donViQLTS" [(ngModel)]="VatTuPhieuDiChuyenEdit.donViQLTS" #donViQLTS="ngModel" class="form-control" (change)="donViQLTSChk(donViQLTS.value)">
                                    <option value="0">-- Chọn ĐV QLTS --</option>
                                    <option *ngFor="let o of phongbans" value="{{o.phongBanId}}">
                                        {{o.tenPhongBan}}
                                    </option>
                                </select>
                                <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': CHKdonViQLTS, 'glyphicon-remove' : !CHKdonViQLTS}"></span>
                                <span *ngIf="showValidationErrors && f.submitted && !CHKdonViQLTS" class="errorMessage">
                                    Vui lòng nhập Đơn Vị QLTS!
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3 has-feedback">
                            <label class="col-md-12" for="ngayYeuCau-{{uniqueId}}">Ngày Yêu Cầu</label>
                            <div class="control">
                                <kendo-datepicker [(value)]="valueNgayYeuCau" [format]="'dd/MM/yyyy'" class="form-control" (valueChange)="ngayLapChange($event)"></kendo-datepicker>
                            </div>
                        </div>
                        <div class="col-md-3 has-feedback">
                            <label class="col-md-12" for="nguoiYeuCau-{{uniqueId}}">Người Yêu Cầu</label>
                            <div class="control" [ngClass]="{'has-success': f.submitted && nguoiYeuCau.valid, 'has-error' : f.submitted && !nguoiYeuCau.valid}">
                                <input autofocus type="text" class="form-control" name="nguoiYeuCau" [(ngModel)]="VatTuPhieuDiChuyenEdit.nguoiYeuCau" #nguoiYeuCau="ngModel" required />
                                <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': nguoiYeuCau.valid, 'glyphicon-remove' : !nguoiYeuCau.valid}"></span>
                                <span *ngIf="showValidationErrors && f.submitted && !nguoiYeuCau.valid" class="errorMessage">
                                    Vui lòng nhập Người Yêu Cầu!
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3 has-feedback">
                            <label class="col-md-12" for="donViYeuCau-{{uniqueId}}">ĐV Yêu Cầu</label>
                            <div class="control" [ngClass]="{'has-success': f.submitted && CHKdonViYC, 'has-error' : f.submitted && !CHKdonViYC}">
                                <select name="donViYeuCau" [(ngModel)]="VatTuPhieuDiChuyenEdit.donViYeuCau" #donViYeuCau="ngModel" class="form-control" (change)="donViYeuCauChk(donViYeuCau.value)">
                                    <option value="0">-- Chọn ĐV Yêu Cầu --</option>
                                    <option *ngFor="let o of phongbans" value="{{o.phongBanId}}">
                                        {{o.tenPhongBan}}
                                    </option>
                                </select>
                                <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': CHKdonViYC, 'glyphicon-remove' : !CHKdonViYC}"></span>
                                <span *ngIf="showValidationErrors && f.submitted && !CHKdonViYC" class="errorMessage">
                                    Vui lòng nhập ĐV Yêu Cầu!
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3 has-feedback">
                            <label class="col-md-12" for="daiDienDVYC-{{uniqueId}}">Đại Diện ĐV Yêu Cầu</label>
                            <div class="control" [ngClass]="{'has-success': f.submitted && daiDienDVYC.valid, 'has-error' : f.submitted && !daiDienDVYC.valid}">
                                <input autofocus type="text" class="form-control" name="daiDienDVYC" [(ngModel)]="VatTuPhieuDiChuyenEdit.daiDienDVYC" #daiDienDVYC="ngModel" required />
                                <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': daiDienDVYC.valid, 'glyphicon-remove' : !daiDienDVYC.valid}"></span>
                                <span *ngIf="showValidationErrors && f.submitted && !daiDienDVYC.valid" class="errorMessage">
                                    Vui lòng nhập Đại Diện ĐV YC!
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3 has-feedback">
                            <label class="col-md-12" for="donViNhan-{{uniqueId}}">ĐV Nhận</label>
                            <div class="control" [ngClass]="{'has-success': f.submitted && CHKdonViNhan, 'has-error' : f.submitted && !CHKdonViNhan}">
                                <select name="donViNhan" [(ngModel)]="VatTuPhieuDiChuyenEdit.donViNhan" #donViNhan="ngModel" class="form-control" (change)="donViNhanChk(donViNhan.value)">
                                    <option value="0">-- Chọn ĐV Nhận --</option>
                                    <option *ngFor="let o of phongbans" value="{{o.phongBanId}}">
                                        {{o.tenPhongBan}}
                                    </option>
                                </select>
                                <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': CHKdonViNhan, 'glyphicon-remove' : !CHKdonViNhan}"></span>
                                <span *ngIf="showValidationErrors && f.submitted && !CHKdonViNhan" class="errorMessage">
                                    Vui lòng nhập ĐV Nhận!
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3 has-feedback">
                            <label class="col-md-12" for="daiDienDVN-{{uniqueId}}">Đại Diện ĐV Nhận</label>
                            <div class="control" [ngClass]="{'has-success': f.submitted && daiDienDVN.valid, 'has-error' : f.submitted && !daiDienDVN.valid}">
                                <input autofocus type="text" class="form-control" name="daiDienDVN" [(ngModel)]="VatTuPhieuDiChuyenEdit.daiDienDVN" #daiDienDVN="ngModel" required />
                                <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': daiDienDVN.valid, 'glyphicon-remove' : !daiDienDVN.valid}"></span>
                                <span *ngIf="showValidationErrors && f.submitted && !daiDienDVN.valid" class="errorMessage">
                                    Vui lòng nhập Đại Diện ĐVN!
                                </span>
                            </div>
                        </div>
                        <div>
                            <div style="display: inline-flex" *ngIf="!dexuatCHK">
                                <div class="has-feedback col-sm-4">
                                    <label class="control-label" for="vatTuId-{{uniqueId}}">Chọn vật tư</label>
                                    <div class="control" [ngClass]="{'has-success': f.submitted && vattuCHk, 'has-error' : f.submitted && !vattuCHk}">
                                        <kendo-combobox class="form-control"
                                                        [data]="vattusFilter" [placeholder]="'Vật tư'"
                                                        [textField]="'tenVatTu'"
                                                        [valueField]="'vatTuId'"
                                                        [(ngModel)]="vattuSelected" name="vattu"
                                                        (valueChange)="vattuChange($event)"
                                                        [filterable]="true">
                                            <ng-template kendoDropDownListNoDataTemplate>
                                                <p><span class="k-icon k-i-warning" style="font-size:30px"></span><br /><br /> Không tìm thấy kết quả nào</p>
                                            </ng-template>
                                            <ng-template kendoComboBoxItemTemplate let-dataItem>
                                                &nbsp;{{ dataItem.tenVatTu }}
                                            </ng-template>
                                        </kendo-combobox>
                                    </div>
                                </div>
                                <div class="has-feedback col-sm-2">
                                    <label class="control-label" for="soLuong-{{uniqueId}}">Số lượng</label>
                                    <div class="control" [ngClass]="{'has-success': f.submitted && soLuong.valid, 'has-error' : f.submitted && !soLuong.valid}">
                                        <input autofocus type="number" min="1" class="form-control" name="soLuong" [(ngModel)]="VatTuDiChuyenEdit.soLuong" #soLuong="ngModel" required (change)="soluongChange(soLuong.value)" />
                                    </div>
                                </div>
                                <div class="has-feedback col-sm-4">
                                    <label class="control-label" for="ghiChu-{{uniqueId}}">Ghi chú</label>
                                    <div class="control">
                                        <input autofocus type="text" class="form-control" name="ghiChu" [(ngModel)]="VatTuDiChuyenEdit.ghiChu" #ghiChu="ngModel" />
                                    </div>
                                </div>
                                <div class="col-sm-2" style="margin-top: auto">
                                    <button type="button" (click)="addListVatTu(vattuSelected.vatTuId, soLuong.value, ghiChu.value)" class="btn btn-info"><i class='fa fa-list'></i> Chọn</button>
                                </div>
                            </div>
                            <div class="col-md-12" style="height: auto;padding-top:10px" *ngIf="listVT.length > 0 || listDC.length > 0">
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <table class='table'>
                                        <thead>
                                            <tr style="background-color:#048b8b;">
                                                <th>Vật tư</th>
                                                <th>Đơn vị tính</th>
                                                <th>Xuất xứ</th>
                                                <th>Số lượng</th>
                                                <th>Ghi chú</th>
                                                <th>Chức năng</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="listVT.length > 0">
                                            <tr *ngFor="let vtyc of listVT">
                                                <td>{{ vtyc.vattus.tenVatTu }}</td>
                                                <td>{{ vtyc.vattus.donViTinhs.tenDonViTinh }}</td>
                                                <td>{{ vtyc.vattus.quocTichs.tenNuoc }}</td>
                                                <td>{{ vtyc.soLuong }}</td>
                                                <td>{{ vtyc.ghiChu }}</td>
                                                <td>
                                                    <button type="button" (click)="deleteFromList(vtyc)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody *ngIf="listDC.length > 0">
                                            <tr *ngFor="let vtyc of listDC">
                                                <td>{{ vtyc.vattus.tenVatTu }}</td>
                                                <td>{{ vtyc.vattus.donViTinhs.tenDonViTinh }}</td>
                                                <td>{{ vtyc.vattus.quocTichs.tenNuoc }}</td>
                                                <td>{{ vtyc.soLuong }}</td>
                                                <td>{{ vtyc.ghiChu }}</td>
                                                <td>
                                                    <button type="button" (click)="deleteFromList(vtyc)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label class="col-md-12" for="noiDung-{{uniqueId}}">Nội dung</label>
                            <div class="control" [ngClass]="{'has-success': f.submitted && noiDung.valid, 'has-error' : f.submitted && !noiDung.valid}">
                                <input autofocus type="text" class="form-control" name="noiDung" [(ngModel)]="VatTuPhieuDiChuyenEdit.noiDung" #noiDung="ngModel" required />
                                <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': noiDung.valid, 'glyphicon-remove' : !noiDung.valid}"></span>
                                <span *ngIf="showValidationErrors && f.submitted && !noiDung.valid" class="errorMessage">
                                    Vui lòng nhập nội dung!
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label class="col-md-12" for="ghiChu-{{uniqueId}}">Ghi chú</label>
                            <div class="control">
                                <input autofocus type="text" class="form-control" name="ghiChu" [(ngModel)]="VatTuPhieuDiChuyenEdit.ghiChu" #ghiChu="ngModel" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <hr class="edit-last-separator-hr" />
                    </div>
                    <div class="col-sm-actionBtn-form-group modal-footer">
                        <div class="col-sm-7">
                            <div class="pull-right">
                                <button *ngIf="!isEditMode && isGeneralEditor" type="button" (click)="close()" class="btn btn-default"><i class='fa fa-close'></i> {{'users.editor.Close' | translate}}</button>
                                <button *ngIf="!isEditMode && !isGeneralEditor" type="button" (click)="edit()" class="btn btn-default"><i class='fa fa-edit'></i> {{'users.editor.Edit' | translate}}</button>
                                <button *ngIf="isEditMode" type="button" (click)="cancel()" class="btn btn-danger" [disabled]="isSaving"><i class='fa fa-times'></i> {{'users.editor.Cancel' | translate}}</button>
                                <button *ngIf="isEditMode" type="submit" class="btn btn-primary" [disabled]="isSaving">
                                    <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('users.editor.Saving' | translate) : ('users.editor.Save' | translate)}}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div *ngIf="isViewDetails">
                <div class="modal-header">
                    <p class="modal-title pull-left">
                        <i class="fa fa-eye"></i> Chi tiết đề xuất - <span *ngIf="VatTuPhieuDiChuyenEdit.trangThai == 1">Chờ xác nhận xuất</span>
                        <span *ngIf="VatTuPhieuDiChuyenEdit.trangThai == 2">Đã xuất kho</span>
                    </p>
                    <button type="button" class="close pull-right" title="Close" (click)="editorModal.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
                    <div>
                        <form #f="ngForm">
                            <div>
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td colspan="8" class="headView">Thông tin phiếu xuất kho</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="boldText">Đơn vị quản lí tài sản</td>
                                            <td colspan="2">{{valueDVQLTS}}</td>
                                            <td colspan="2" class="boldText">Ngày yêu cầu</td>
                                            <td colspan="2">{{VatTuPhieuDiChuyenEdit.ngayYeuCau | date: "dd/MM/yyyy"}}</td>
                                        </tr>
                                        <tr>
                                            <td class="boldText">Người yêu cầu</td>
                                            <td>{{VatTuPhieuDiChuyenEdit.nguoiYeuCau}}</td>
                                            <td class="boldText">Đơn vị yêu cầu</td>
                                            <td>{{valueDVYC}}</td>
                                            <td colspan="2" class="boldText">Đại diện đơn vị yêu cầu</td>
                                            <td colspan="2">{{VatTuPhieuDiChuyenEdit.daiDienDVYC}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="boldText">Đơn vị Nhận</td>
                                            <td colspan="2">{{valueDVTN}}</td>
                                            <td colspan="2" class="boldText">Đại diện đơn vị nhận</td>
                                            <td colspan="2">{{VatTuPhieuDiChuyenEdit.daiDienDVN}}</td>
                                        </tr>
                                        <tr>
                                            <td class="boldText">Nội dung</td>
                                            <td colspan="7">{{VatTuPhieuDiChuyenEdit.noiDung}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="boldText">Ghi chú</td>
                                            <td colspan="6">{{VatTuPhieuDiChuyenEdit.ghiChu}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" class="headView">Thông tin vật tư đề xuất</td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" class="boldText">
                                                <table class='table'>
                                                    <thead>
                                                        <tr>
                                                            <th>Vật tư</th>
                                                            <th>Đơn vị tính</th>
                                                            <th>Xuất xứ</th>
                                                            <th>Số lượng</th>
                                                            <th>Ghi chú</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let vtc of listVT">
                                                            <td>{{ vtc.vattus.tenVatTu }}</td>
                                                            <td>{{ vtc.vattus.donViTinhs.tenDonViTinh }}</td>
                                                            <td>{{ vtc.vattus.quocTichs.tenNuoc }}</td>
                                                            <td>{{ vtc.soLuong }}</td>
                                                            <td>{{ vtc.ghiChu }}</td>
                                                        </tr>
                                                        <tr *ngFor="let vtc of listDC">
                                                            <td>{{ vtc.vattus.tenVatTu }}</td>
                                                            <td>{{ vtc.vattus.donViTinhs.tenDonViTinh }}</td>
                                                            <td>{{ vtc.vattus.quocTichs.tenNuoc }}</td>
                                                            <td>{{ vtc.soLuong }}</td>
                                                            <td>{{ vtc.ghiChu }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" class="headView">Thông tin chỉnh sửa</td>
                                        </tr>
                                        <tr>
                                            <td class="boldText">Ngày Nhập:</td>
                                            <td>{{VatTuPhieuDiChuyenEdit.ngayNhap | date:'dd/MM/yyyy'}}</td>
                                            <td class="boldText">Người Nhập:</td>
                                            <td>{{VatTuPhieuDiChuyenEdit.nguoiNhap}}</td>
                                            <td class="boldText">Ngày Sửa:</td>
                                            <td>{{VatTuPhieuDiChuyenEdit.ngaySua | date: 'dd/MM/yyyy'}}</td>
                                            <td class="boldText">Người Sửa:</td>
                                            <td>{{VatTuPhieuDiChuyenEdit.nguoiSua}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="actionBtn-form-group">
                        <div class="row">
                            <div style="text-align:center;">
                                <button type="button" (click)="confirmXuatKho(VatTuPhieuDiChuyenEdit)" *ngIf="VatTuPhieuDiChuyenEdit.trangThai == 1 || VatTuPhieuDiChuyenEdit.trangThai == 3" class="btn btn-success"><i class="fa fa-check"></i> Xác nhận</button>
                                <button type="button" *ngIf="VatTuPhieuDiChuyenEdit.trangThai == 1" (click)="movetoEditForm()" class="btn btn-primary"><i class='fa fa-edit'></i> {{'users.editor.Edit' | translate}}</button>
                                <button type="button" (click)="closeModal()" class="btn btn-danger"><i class='fa fa-close'></i> {{'users.editor.Close' | translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>