<div id="categoryManage">
    <section class="content-header">
        <h1> {{'preferences.TitleManage' | translate}}</h1>
        <commonroad></commonroad>
    </section>
    <section class="content">
        <!-- /.row start -->
        <div class="row home_dash_box">
            <!-- col start -->
            <div class="col-lg-3 col-xs-6">
                <a class="small-box bg-aqua" routerLink="/chucvu">
                    <div class="inner">
                        <h3>
                            Chức vụ
                        </h3>
                        <p>&nbsp;</p>
                    </div>
                    <div class="icon"> <img src="../../../../wwwroot/icon/employee.png" width="80" height="80"> </div>
                    <span class="small-box-footer">Chi tiết <i class="fa fa-arrow-circle-right"></i></span>
                </a>
            </div>
            <!-- ./col end -->
            <!-- col start -->
            <div class="col-lg-3 col-xs-6">
                <a class="small-box bg-aqua" routerLink="/nganhang">
                    <div class="inner">
                        <h3>
                            Ngân hàng
                        </h3>
                        <p>&nbsp;</p>
                    </div>
                    <div class="icon"> <img src="../../../../wwwroot/icon/bank.png" width="80" height="80"> </div>
                    <span class="small-box-footer">Chi tiết <i class="fa fa-arrow-circle-right"></i></span>
                </a>
            </div>
            <!-- ./col end -->
            <!-- col start -->
            <div class="col-lg-3 col-xs-6">
                <a class="small-box bg-aqua" routerLink="/taikhoannganhang">
                    <div class="inner">
                        <h3>
                            TK ngân hàng
                        </h3>
                        <p>&nbsp;</p>
                    </div>
                    <div class="icon"> <img src="../../../../wwwroot/icon/bankcard.png" width="80" height="80"> </div>
                    <span class="small-box-footer">Chi tiết <i class="fa fa-arrow-circle-right"></i></span>
                </a>
            </div>
            <!-- ./col end -->
            <!-- col start -->
            <div class="col-lg-3 col-xs-6">
                <a class="small-box bg-aqua" routerLink="/trangthai">
                    <div class="inner">
                        <h3>
                            Trạng thái
                        </h3>
                        <p>&nbsp;</p>
                    </div>
                    <div class="icon"> <img src="../../../../wwwroot/icon/statusUpdate.png" width="80" height="80"> </div>
                    <span class="small-box-footer">Chi tiết <i class="fa fa-arrow-circle-right"></i></span>
                </a>
            </div>
            <!-- ./col end -->
            <!-- col start -->
            <div class="col-lg-3 col-xs-6">
                <a class="small-box bg-aqua" routerLink="/nhacungcap">
                    <div class="inner">
                        <h3>
                            Nhà cung cấp
                        </h3>
                        <p>&nbsp;</p>
                    </div>
                    <div class="icon"> <img src="../../../../wwwroot/icon/quoctich.png" width="80" height="80"> </div>
                    <span class="small-box-footer">Chi tiết <i class="fa fa-arrow-circle-right"></i></span>
                </a>
            </div>
            <!-- ./col end -->
            <!-- col start -->
            <div class="col-lg-3 col-xs-6">
                <a class="small-box bg-aqua" routerLink="/quoctich">
                    <div class="inner">
                        <h3>
                            Quốc tịch
                        </h3>
                        <p>&nbsp;</p>
                    </div>
                    <div class="icon"> <img src="../../../../wwwroot/icon/passport.png" width="80" height="80"> </div>
                    <span class="small-box-footer">Chi tiết <i class="fa fa-arrow-circle-right"></i></span>
                </a>
            </div>
            <!-- ./col end -->
            <!-- col start -->
            <div class="col-lg-3 col-xs-6">
                <a class="small-box bg-aqua" routerLink="/khuvuc">
                    <div class="inner">
                        <h3>
                            Khu vực
                        </h3>
                        <p>&nbsp;</p>
                    </div>
                    <div class="icon"> <img src="../../../../wwwroot/icon/khungcanh.png" width="80" height="80"> </div>
                    <span class="small-box-footer">Chi tiết <i class="fa fa-arrow-circle-right"></i></span>
                </a>
            </div>
            <!-- ./col end -->
            <!-- col start -->
            <div class="col-lg-3 col-xs-6">
                <a class="small-box bg-aqua" routerLink="/donvitinh">
                    <div class="inner">
                        <h3>
                            Đơn vị tính
                        </h3>
                        <p>&nbsp;</p>
                    </div>
                    <div class="icon"> <img src="../../../../wwwroot/icon/dvt.png" width="80" height="80"> </div>
                    <span class="small-box-footer">Chi tiết <i class="fa fa-arrow-circle-right"></i></span>
                </a>
            </div>
            <!-- ./col end -->
            <!-- col start -->
            <div class="col-lg-3 col-xs-6">
                <a class="small-box bg-aqua" routerLink="/phongban">
                    <div class="inner">
                        <h3>
                            Phòng ban
                        </h3>
                        <p>&nbsp;</p>
                    </div>
                    <div class="icon"> <img src="../../../../wwwroot/icon/phongban.png" width="80" height="80"> </div>
                    <span class="small-box-footer">Chi tiết <i class="fa fa-arrow-circle-right"></i></span>
                </a>
            </div>
            <!-- ./col end -->
            <!-- col start -->
            <div class="col-lg-3 col-xs-6">
                <a class="small-box bg-aqua" routerLink="/loaitien">
                    <div class="inner">
                        <h3>
                            Loại tiền
                        </h3>
                        <p>&nbsp;</p>
                    </div>
                    <div class="icon"> <img src="../../../../wwwroot/icon/loaitien.png" width="80" height="80"> </div>
                    <span class="small-box-footer">Chi tiết <i class="fa fa-arrow-circle-right"></i></span>
                </a>
            </div>
            <!-- ./col end -->
            <!-- col start -->
            <div class="col-lg-3 col-xs-6">
                <a class="small-box bg-aqua" routerLink="/loaigiathue">
                    <div class="inner">
                        <h3>
                            Loại giá thuê
                        </h3>
                        <p>&nbsp;</p>
                    </div>
                    <div class="icon"> <img src="../../../../wwwroot/icon/pricetype.png" width="80" height="80"> </div>
                    <span class="small-box-footer">Chi tiết <i class="fa fa-arrow-circle-right"></i></span>
                </a>
            </div>
            <!-- ./col end -->
            <!-- col start -->
            <div class="col-lg-3 col-xs-6">
                <a class="small-box bg-aqua" routerLink="/loaimatbang">
                    <div class="inner">
                        <h3>
                            Loại mặt bằng
                        </h3>
                        <p>&nbsp;</p>
                    </div>
                    <div class="icon"> <img src="../../../../wwwroot/icon/loaiyeucau.png" width="80" height="80"> </div>
                    <span class="small-box-footer">Chi tiết <i class="fa fa-arrow-circle-right"></i></span>
                </a>
            </div>
            <!-- ./col end -->
        </div>
        <!-- /.row end -->
    </section>
</div>
