.modal-body {
    max-height: 800px;
}

.form-control[disabled] {
    background-color: #fff;
}

.has-feedback .form-control {
    padding-right: 10px;
}

#kyHieu {
    position: absolute;
    top: 25%;
    right: 20%;
    transition: right 0.2s;
}