.modal-body {
    max-height: 800px;
}

.form-control[disabled] {
    background-color: #fff;
}

.has-feedback .form-control {
    padding-right: 10px;
}

.headView {
    text-align: center;
    font-weight: bold;
    color: #048b8b;
    background: #ecf0f5
}

.table > thead > tr, .table > tfoot > tr {
    background-color: #048b8b;
    color: #fff;
}
