<div class="modal fade" bsModal #editorModal1="bs-modal" (onHidden)="onEditorModalHidden()" [config]="{backdrop: 'static'}" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div *ngIf="isViewDetails" class="ViewForm" style="max-width:1000px;height: auto">
                <div class="modal-header">
                    <p class="modal-title pull-left">
                        <i class="fa fa-eye"></i> Chi tiết vật tư
                    </p>
                    <button type="button" class="close pull-right" title="Close" (click)="editorModal1.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <form #f="ngForm">
                            <div malihu-scrollbar [scrollbarOptions]="scrollbarOptions" [ngStyle]="{'height.px':heightScroll}">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td colspan="8" class="headView">Thông tin chung</td>
                                        </tr>
                                        <tr>
                                            <td class="boldText">Mã vật tư</td>
                                            <td>{{vattuEdit.maVatTu}}</td>
                                            <td class="boldText">Tên vật tư</td>
                                            <td>{{vattuEdit.tenVatTu}}</td>
                                            <td class="boldText">Ngày lập</td>
                                            <td>{{vattuEdit.ngayLap | date:'dd/MM/yyyy'}}</td>
                                            <td class="boldText">Trạng thái</td>
                                            <td *ngIf="vattuEdit.trangThai == 1">Đang sử dụng</td>
                                            <td *ngIf="vattuEdit.trangThai == 0">Dừng sử dụng</td>
                                        </tr>
                                        <tr>
                                            <td class="boldText">Phòng ban</td>
                                            <td>{{vattuEdit.phongBans.tenPhongBan}}</td>
                                            <td class="boldText">Người quản lý</td>
                                            <td>{{vattuEdit.nguoiQuanLy}}</td>
                                            <td class="boldText">Loại hàng</td>
                                            <td>{{vattuEdit.loaiHangs.tenLoaiHang}}</td>
                                            <td class="boldText">Xuất xứ</td>
                                            <td>{{vattuEdit.quocTichs.tenNuoc}}</td>
                                        </tr>
                                        <tr>
                                            <td class="boldText">NCC</td>
                                            <td>{{vattuEdit.donViTinhs.tenDonViTinh}}</td>
                                            <td class="boldText">Hãng SX</td>
                                            <td>{{vattuEdit.hangSanXuats.tenHangSanXuat}}</td>
                                            <td class="boldText">Mã vạch NSX</td>
                                            <td>{{vattuEdit.maVachNSX}}</td>
                                            <td class="boldText">Model</td>
                                            <td>{{vattuEdit.model}}</td>
                                        </tr>
                                        <tr>
                                            <td class="boldText">Serial Number</td>
                                            <td>{{vattuEdit.serialNumber}}</td>
                                            <td class="boldText">Part Number</td>
                                            <td>{{vattuEdit.partNumber}}</td>
                                            <td class="boldText">Thời gian sử dụng</td>
                                            <td>{{vattuEdit.namSD}}</td>
                                            <td class="boldText">Hạn bảo hành</td>
                                            <td>{{vattuEdit.ngayHHBaoHanh | date: 'dd/MM/yyyy'}}</td>
                                        </tr>
                                        <tr>
                                            <td class="boldText">Thông số kỹ thuật</td>
                                            <td colspan="7">{{vattuEdit.thongSoKyThuat}}</td>
                                        </tr>
                                        <tr>
                                            <td class="boldText">Giá vật tư</td>
                                            <td colspan="3">{{formatPrice(vattuEdit.giaVatTu)}} {{vattuEdit.loaiTiens.kyHieu}} / {{vattuEdit.donViTinhs.tenDonViTinh}}</td>
                                            <td class="boldText">Khấu hao</td>
                                            <td colspan="3" *ngIf="vattuEdit.donViKhauHao == 'Ngay'">{{vattuEdit.khauHao}}% /Ngày</td>
                                            <td colspan="3" *ngIf="vattuEdit.donViKhauHao == 'Thang'">{{vattuEdit.khauHao}}% /Tháng</td>
                                            <td colspan="3" *ngIf="vattuEdit.donViKhauHao == 'Nam'">{{vattuEdit.khauHao}}% /Năm</td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" class="headView">Thông tin vật tư</td>
                                        </tr>
                                        <tr>
                                            <td colspan="8">
                                                <kendo-tabstrip (tabSelect)="onTabSelect($event)">
                                                    <kendo-tabstrip-tab [title]="'Vật tư con'" [selected]="true">
                                                        <ng-template kendoTabContent>
                                                            <table class='table'>
                                                                <thead>
                                                                    <tr>
                                                                        <th>Mã Vật Tư</th>
                                                                        <th>Tên Vật Tư</th>
                                                                        <th>Model</th>
                                                                        <th>Hãng sản xuất</th>
                                                                        <th>Serial Number</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr *ngFor="let vtc of listVTC">
                                                                        <td>{{vtc.maVatTu}}</td>
                                                                        <td>{{vtc.tenVatTu}}</td>
                                                                        <td>{{vtc.model}}</td>
                                                                        <td>{{vtc.hangSanXuats.tenHangSanXuat}}</td>
                                                                        <td>{{vtc.serialNumber}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </ng-template>
                                                    </kendo-tabstrip-tab>
                                                    <kendo-tabstrip-tab [title]="'Hình ảnh'">
                                                        <ng-template kendoTabContent>
                                                            <table class='table'>
                                                                <thead>
                                                                    <tr>
                                                                        <th>Hình ảnh</th>
                                                                        <th>Diễn giải</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr *ngFor="let img of VTHAs">
                                                                        <td><img class="img-responsive" [alt]="img.tenHinhAnh" [src]="img.urlHinhAnh" style="height:50px;object-fit:contain;overflow:hidden" /></td>
                                                                        <td colspan="7"><span style="display: inline-block; font-size: 12px;">{{img.dienGiai}}</span></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </ng-template>
                                                    </kendo-tabstrip-tab>
                                                    <kendo-tabstrip-tab [title]="'Tài liệu'">
                                                        <ng-template kendoTabContent>
                                                            <table class='table'>
                                                                <thead>
                                                                    <tr>
                                                                        <th>Tên tài liệu</th>
                                                                        <th>Diễn giải</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr *ngFor="let tl of VTTLs">
                                                                        <td><a href="tl.urlTaiLieu">{{tl.tenTaiLieu}}</a></td>
                                                                        <td colspan="7"><span style="display: inline-block; font-size: 12px;">{{tl.dienGiai}}</span></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </ng-template>
                                                    </kendo-tabstrip-tab>
                                                </kendo-tabstrip>
                                            </td>                                           
                                        </tr>                                        
                                        <tr>
                                            <td colspan="8" class="headView">Thông tin chỉnh sửa</td>
                                        </tr>
                                        <tr>
                                            <td class="boldText">Ngày nhập</td>
                                            <td>{{vattuEdit.ngayNhap | date: 'dd/MM/yyyy'}}</td>
                                            <td class="boldText">Người nhập</td>
                                            <td>{{vattuEdit.nguoiNhap}}</td>
                                            <td class="boldText">Ngày sửa</td>
                                            <td>{{vattuEdit.ngaySua | date: 'dd/MM/yyyy'}}</td>
                                            <td class="boldText">Người sửa</td>
                                            <td>{{vattuEdit.nguoiSua}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="actionBtn-form-group">
                        <div class="col-sm-7">
                            <div class="pull-right">
                                <!--<button type="button" (click)="movetoEditForm()" class="btn btn-primary"><i class='fa fa-edit'></i> {{'users.editor.Edit' | translate}}</button>-->
                                <button type="button" (click)="closeModal()" class="btn btn-danger"><i class='fa fa-close'></i> {{'users.editor.Close' | translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

