<div class="modal fade" bsModal #editorModal="bs-modal" (onHidden)="onEditorModalHidden()" [config]="{backdrop: 'static'}" tabindex="-1" [class.fullScreenModal]="isFullScreenModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div *ngIf="!isViewDetails" class="EditForm">
                <form *ngIf="formResetToggle" [attr.autocomplete]="isGeneralEditor ? NaN : null" class="form-horizontal" name="VatTuPhieuYeuCauInfoForm" #f="ngForm" novalidate (ngSubmit)="f.form.valid ? save() :
          (!nguoiYeuCau.valid && showErrorAlert('NguoiYeuCau không được để trống', 'Vui lòng nhập NguoiYeuCau!'));
(!phongBanId.valid && showErrorAlert('PhongBanId không được để trống', 'Vui lòng nhập PhongBanId!'));
(!toaNhaId.valid && showErrorAlert('ToaNhaId không được để trống', 'Vui lòng nhập ToaNhaId!'));
(!mucDichSuDung.valid && showErrorAlert('MucDichSuDung không được để trống', 'Vui lòng nhập MucDichSuDung!'));
(!nguoiTiepNhan.valid && showErrorAlert('NguoiTiepNhan không được để trống', 'Vui lòng nhập NguoiTiepNhan!'));
(!dienGiai.valid && showErrorAlert('DienGiai không được để trống', 'Vui lòng nhập DienGiai!'));
(!nguoiDuyet.valid && showErrorAlert('NguoiDuyet không được để trống', 'Vui lòng nhập NguoiDuyet!'));
(!trangThai.valid && showErrorAlert('TrangThai không được để trống', 'Vui lòng nhập TrangThai!'));
">
                    <div class="modal-header">
                        <p *ngIf="isNew" class="modal-title pull-left"><i class="fa fa-plus"></i> Tạo phiếu yêu cầu</p>
                        <p *ngIf="isEdit" class="modal-title pull-left"><i class="fa fa-pencil-square-o"></i> Chỉnh sửa phiếu yêu cầu - <span>{{DichVuCoBanEdit.soChungTu}}</span></p>
                        <button type="button" class="close pull-right" title="Close" (click)="editorModal.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="col-sm-4 has-feedback">
                        <label class="control-label" for="phongBanId-{{uniqueId}}">PhongBanId</label>
                        <div class="control" [ngClass]="{'has-success': f.submitted && phongBanId.valid, 'has-error' : f.submitted && !phongBanId.valid}">
                            <input autofocus type="text" class="form-control" name="phongBanId" [(ngModel)]="VatTuPhieuYeuCauEdit.phongBanId" #phongBanId="ngModel" required />
                            <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': phongBanId.valid, 'glyphicon-remove' : !phongBanId.valid}"></span>
                            <span *ngIf="showValidationErrors && f.submitted && !phongBanId.valid" class="errorMessage">
                                Vui lòng nhập phongBanId!
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-4 has-feedback">
                        <label class="control-label" for="nguoiTiepNhan-{{uniqueId}}">NguoiTiepNhan</label>
                        <div class="control" [ngClass]="{'has-success': f.submitted && nguoiTiepNhan.valid, 'has-error' : f.submitted && !nguoiTiepNhan.valid}">
                            <input autofocus type="text" class="form-control" name="nguoiTiepNhan" [(ngModel)]="VatTuPhieuYeuCauEdit.nguoiTiepNhan" #nguoiTiepNhan="ngModel" required />
                            <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': nguoiTiepNhan.valid, 'glyphicon-remove' : !nguoiTiepNhan.valid}"></span>
                            <span *ngIf="showValidationErrors && f.submitted && !nguoiTiepNhan.valid" class="errorMessage">
                                Vui lòng nhập nguoiTiepNhan!
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-4 has-feedback">
                        <label class="control-label" for="nguoiDuyet-{{uniqueId}}">NguoiDuyet</label>
                        <div class="control" [ngClass]="{'has-success': f.submitted && nguoiDuyet.valid, 'has-error' : f.submitted && !nguoiDuyet.valid}">
                            <input autofocus type="text" class="form-control" name="nguoiDuyet" [(ngModel)]="VatTuPhieuYeuCauEdit.nguoiDuyet" #nguoiDuyet="ngModel" required />
                            <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': nguoiDuyet.valid, 'glyphicon-remove' : !nguoiDuyet.valid}"></span>
                            <span *ngIf="showValidationErrors && f.submitted && !nguoiDuyet.valid" class="errorMessage">
                                Vui lòng nhập nguoiDuyet!
                            </span>
                        </div>
                    </div>
                    <div class="has-feedback col-sm-4">
                        <label class="control-label" for="vatTuId-{{uniqueId}}">VatTuId</label>
                        <div class="control" [ngClass]="{'has-success': f.submitted && vatTuId.valid, 'has-error' : f.submitted && !vatTuId.valid}">
                            <input autofocus type="text" class="form-control" name="vatTuId" [(ngModel)]="VatTuYeuCauEdit.vatTuId" #vatTuId="ngModel" required />
                            <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': vatTuId.valid, 'glyphicon-remove' : !vatTuId.valid}"></span>
                            <span *ngIf="showValidationErrors && f.submitted && !vatTuId.valid" class="errorMessage">
                                Vui lòng nhập vatTuId!
                            </span>
                        </div>
                    </div>
                    <div class="has-feedback col-sm-3">
                        <label class="control-label" for="donViTinhId-{{uniqueId}}">DonViTinhId</label>
                        <div class="control" [ngClass]="{'has-success': f.submitted && donViTinhId.valid, 'has-error' : f.submitted && !donViTinhId.valid}">
                            <input autofocus type="text" class="form-control" name="donViTinhId" [(ngModel)]="VatTuYeuCauEdit.donViTinhId" #donViTinhId="ngModel" required />
                            <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': donViTinhId.valid, 'glyphicon-remove' : !donViTinhId.valid}"></span>
                            <span *ngIf="showValidationErrors && f.submitted && !donViTinhId.valid" class="errorMessage">
                                Vui lòng nhập donViTinhId!
                            </span>
                        </div>
                    </div>
                    <div class="has-feedback col-sm-3">
                        <label class="control-label" for="quocTichId-{{uniqueId}}">QuocTichId</label>
                        <div class="control" [ngClass]="{'has-success': f.submitted && quocTichId.valid, 'has-error' : f.submitted && !quocTichId.valid}">
                            <input autofocus type="text" class="form-control" name="quocTichId" [(ngModel)]="VatTuYeuCauEdit.quocTichId" #quocTichId="ngModel" required />
                            <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': quocTichId.valid, 'glyphicon-remove' : !quocTichId.valid}"></span>
                            <span *ngIf="showValidationErrors && f.submitted && !quocTichId.valid" class="errorMessage">
                                Vui lòng nhập quocTichId!
                            </span>
                        </div>
                    </div>
                    <div class="has-feedback col-sm-3">
                        <label class="control-label" for="soLuong-{{uniqueId}}">SoLuong</label>
                        <div class="control" [ngClass]="{'has-success': f.submitted && soLuong.valid, 'has-error' : f.submitted && !soLuong.valid}">
                            <input autofocus type="text" class="form-control" name="soLuong" [(ngModel)]="VatTuYeuCauEdit.soLuong" #soLuong="ngModel" required />
                            <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': soLuong.valid, 'glyphicon-remove' : !soLuong.valid}"></span>
                            <span *ngIf="showValidationErrors && f.submitted && !soLuong.valid" class="errorMessage">
                                Vui lòng nhập soLuong!
                            </span>
                        </div>
                    </div>
                    <div class="has-feedback col-sm-12">
                        <label class="control-label" for="mucDichSuDung-{{uniqueId}}">MucDichSuDung</label>
                        <div class="control" [ngClass]="{'has-success': f.submitted && mucDichSuDung.valid, 'has-error' : f.submitted && !mucDichSuDung.valid}">
                            <input autofocus type="text" class="form-control" name="mucDichSuDung" [(ngModel)]="VatTuPhieuYeuCauEdit.mucDichSuDung" #mucDichSuDung="ngModel" required />
                            <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': mucDichSuDung.valid, 'glyphicon-remove' : !mucDichSuDung.valid}"></span>
                            <span *ngIf="showValidationErrors && f.submitted && !mucDichSuDung.valid" class="errorMessage">
                                Vui lòng nhập mucDichSuDung!
                            </span>
                        </div>
                    </div>
                    <div class="has-feedback col-sm-12">
                        <label class="control-label" for="ghiChu-{{uniqueId}}">GhiChu</label>
                        <div class="control">
                            <input autofocus type="text" class="form-control" name="ghiChu" [(ngModel)]="VatTuYeuCauEdit.ghiChu" #ghiChu="ngModel" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <hr class="edit-last-separator-hr" />
                    </div>
                    <div class="col-sm-actionBtn-form-group">
                        <div class="col-sm-7">
                            <div class="pull-right">
                                <button *ngIf="!isEditMode && isGeneralEditor" type="button" (click)="close()" class="btn btn-default"><i class='fa fa-close'></i> {{'users.editor.Close' | translate}}</button>
                                <button *ngIf="!isEditMode && !isGeneralEditor" type="button" (click)="edit()" class="btn btn-default"><i class='fa fa-edit'></i> {{'users.editor.Edit' | translate}}</button>
                                <button *ngIf="isEditMode" type="button" (click)="cancel()" class="btn btn-danger" [disabled]="isSaving"><i class='fa fa-times'></i> {{'users.editor.Cancel' | translate}}</button>
                                <button *ngIf="isEditMode" type="submit" class="btn btn-primary" [disabled]="isSaving">
                                    <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('users.editor.Saving' | translate) : ('users.editor.Save' | translate)}}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>