.table-item {
    margin-top: 15px;
}

.table {
    /*border-color: grey;*/
    margin: 0 auto;
    width: 99%;
}

    .table tr th, .table tr td {
        padding: 8px;
        line-height: 1;
        border-left: 1px solid #ddd;
    }

    .table tr td {
        border-bottom: 1px solid #ddd
    }

        .table tr td:last-child {
            border-right: 1px solid #ddd
        }

    .table tr th:last-child {
        border-right: 1px solid #ddd
    }
