<div class="modal fade" bsModal #editorModal="bs-modal" (onHidden)="onEditorModalHidden()" [config]="{backdrop: 'static'}" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="EditForm">
                <form *ngIf="formResetToggle" [attr.autocomplete]="isGeneralEditor ? NaN : null" class="form-horizontal" name="CongThucNuocInfoForm" #f="ngForm" novalidate (ngSubmit)="f.form.valid ? save() :
                      (!tenCongThucNuoc.valid && showErrorAlert('Tên công thức nước không được để trống', 'Vui lòng nhập tên công thức nước!'));
                      (!dienGiai.valid && showErrorAlert('Diễn giải không được để trống', 'Vui lòng nhập diễn giải!'));
(!status.valid && showErrorAlert('Trạng thái không được để trống', 'Vui lòng nhập trạng thái!'));
">
                    <div class="modal-header">
                        <p *ngIf="isNew" class="modal-title pull-left">
                            <i class="fa fa-plus"></i> Thêm mới công thức nước
                        </p>
                        <p *ngIf="isEdit" class="modal-title pull-left">
                            <i class="fa fa-pencil-square-o"></i> Chỉnh sửa thông tin công thức nước
                        </p>
                        <button type="button" class="close pull-right" title="Close" (click)="editorModal.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label" for="tenCongThucNuoc-{{uniqueId}}">Tên công thức nước</label>
                                <div [ngClass]="{'has-success': f.submitted && tenCongThucNuoc.valid, 'has-error' : f.submitted && !tenCongThucNuoc.valid}">
                                    <input autofocus type="text" class="form-control" name="tenCongThucNuoc" [(ngModel)]="CongThucNuocEdit.tenCongThucNuoc" #tenCongThucNuoc="ngModel" required />
                                    <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': tenCongThucNuoc.valid, 'glyphicon-remove' : !tenCongThucNuoc.valid}"></span>
                                    <span *ngIf="showValidationErrors && f.submitted && !tenCongThucNuoc.valid" class="errorMessage">
                                        Vui lòng nhập tên công thức nước!
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label" for="status-{{uniqueId}}">Trạng thái</label>
                                <div>
                                    <div style="float: left;margin-right: 40px;margin-top: 10px">
                                        <input type="radio" id="r_true" [value]="true" name="status" class="k-radio" [(ngModel)]="CongThucNuocEdit.status" #status="ngModel" />
                                        <label class="k-radio-label" for="r_true">Đang hoạt động</label>
                                        <br />
                                    </div>
                                    <div style="float: left;margin-right: 40px;margin-top: 10px">
                                        <input type="radio" id="r_false" [value]="false" name="status" class="k-radio" [(ngModel)]="CongThucNuocEdit.status" #status="ngModel" />
                                        <label class="k-radio-label" for="r_false">Dừng hoạt động</label>
                                        <br />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label class="control-label" for="dienGiai-{{uniqueId}}">Diễn Giải</label>
                                <div [ngClass]="{'has-success': f.submitted && dienGiai.valid, 'has-error' : f.submitted && !dienGiai.valid}">
                                    <input autofocus type="text" class="form-control" name="dienGiai" [(ngModel)]="CongThucNuocEdit.dienGiai" #dienGiai="ngModel" required />
                                    <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': dienGiai.valid, 'glyphicon-remove' : !dienGiai.valid}"></span>
                                    <span *ngIf="showValidationErrors && f.submitted && !dienGiai.valid" class="errorMessage">
                                        Vui lòng nhập diễn giải!
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <hr class="edit-last-separator-hr" />
                            </div>
                            <div class="form-group actionBtn-form-group">
                                <div class="col-sm-7">
                                    <div class="pull-right">
                                        <button *ngIf="!isEditMode && isGeneralEditor" type="button" (click)="close()" class="btn btn-default"><i class='fa fa-close'></i> {{'users.editor.Close' | translate}}</button>
                                        <button *ngIf="!isEditMode && !isGeneralEditor" type="button" (click)="edit()" class="btn btn-default"><i class='fa fa-edit'></i> {{'users.editor.Edit' | translate}}</button>
                                        <button *ngIf="isEditMode" type="submit" class="btn btn-primary" [disabled]="isSaving">
                                            <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('users.editor.Saving' | translate) : ('users.editor.Save' | translate)}}
                                        </button>
                                        <button *ngIf="isEditMode" type="button" (click)="cancel()" class="btn btn-danger" [disabled]="isSaving"><i class='fa fa-times'></i> {{'users.editor.Cancel' | translate}}</button>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>