
<section class="content-header">
    <h1>Quản lý Vật Tư Hình Ảnh</h1>
    <commonroad></commonroad>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div style="margin-bottom:1%" class="col-sm-6">
                <div class="row">
                    <search-box (searchChange)="onSearchChanged($event)" placeholder="Tìm kiếm">></search-box>
                </div>
            </div>
            <div style="margin-bottom:1%;" align="right" class="col-sm-6">
                <div class="row">
                    <goback></goback>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="box box-info">
                <!-- /.box-header -->
                <div class="box-body">
                    <div>
                        <div>
                            <label class="col-md-4" style="float: left">
                                Vật tư
                                <select class="form-control input-sm" #drVattu [(ngModel)]="selectedVattu" (change)="SelectedVattuValue(drVattu.value)">
                                    <option value="0">---Tất cả---</option>
                                    <option *ngFor="let o of vattu" [value]="o.vatTuId">
                                        {{o.tenVatTu}}
                                    </option>
                                </select>
                            </label>
                            <label style="float: right;">
                                Hiển thị
                                <select class="form-control input-sm" #drSelected (change)="SelectedValue(drSelected.value)">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select> bản ghi
                            </label>
                        </div>
                        <div class="clearfix"></div>
                        <ngx-datatable class="material colored-header sm table table-striped table-hover "
                                       [loadingIndicator]="loadingIndicator"
                                       [rows]="rows"
                                       [rowHeight]="45"
                                       [headerHeight]="45"
                                       [footerHeight]="45"
                                       [columns]="columns"
                                       [limit]="limit"
                                       [columnMode]="'force'">
                        </ngx-datatable>
                        <ng-template #actionsTemplate let-row="row" let-value="value" let-i="index" style="text-align:center">
                            <a class="btn btn-func btn-success" href="javascript:;" (click)="viewHinhAnh(row)" title="Xem ảnh"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a class="btn btn-func btn-danger" href="javascript:;" (click)="deleteVatTuHinhAnh(row)" title="Xóa"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                        </ng-template>

                        <vattuhinhanh-info #vattuhinhanhEditor [isGeneralEditor]="true"></vattuhinhanh-info>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>