<div class="modal fade" bsModal #editorModal="bs-modal" (onHidden)="onEditorModalHidden()" [config]="{backdrop: 'static'}" tabindex="-1">
    <div class="modal-dialog modal-lg" style="text-align: center;">
        <div class="modal-content" style="display: inline-block">
            <div class="modal-header">
                <p class="modal-title pull-left">
                    <i class="fa fa-eye"></i> Xem hình ảnh vật tư - {{VatTuHinhAnhEdit.tenHinhAnh}}
                </p>
                <button type="button" class="close pull-right" title="Close" (click)="editorModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"  style="min-width: 500px; max-width: 800px; max-height: 1000px;">
                <img [src]="VatTuHinhAnhEdit.urlHinhAnh" />
            </div>
        </div>
    </div>
</div>






