<section class="content-header">
    <h1>Quản lý dịch vụ cơ bản</h1>
    <commonroad></commonroad>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div style="margin-bottom:1%" class="col-sm-6">
                <div class="row">
                    <search-box (searchChange)="onSearchChanged($event)" placeholder="Tìm kiếm">></search-box>
                </div>
            </div>
            <div style="margin-bottom:1%;" align="right" class="col-sm-6">
                <div class="row">
                    <a class="btn btn-primary" data-toggle="tooltip" href="javascript://" title="{{'preferences.addFlour' | translate}}" (click)="newDichVuCoBan()"><i class="fa fa-plus"></i></a>
                    <a class="btn btn-primary" href="javascript://" title="In tất cả các bản ghi" (click)="printDiv(selected)"><i class="fa fa-print"></i></a>
                    <a class="btn btn-primary" href="javascript://" tooltip="Import dịch vụ cơ bản" (click)="importDichVuCoBan()"><i class="fa fa-download"></i></a>
                    <a class="btn btn-primary" href="javascript://" tooltip="Export dịch vụ cơ bản" (click)="excelexport.save()">
                        <i class="fa fa-upload"></i>
                        <kendo-excelexport [data]="rows" fileName="DichVuCoBanExPort-{{randomString}}.xlsx" #excelexport [headerPaddingCellOptions]="headerPaddingCells">
                            <kendo-excelexport-column field="index" [locked]="true" title="STT" [width]="50" [headerCellOptions]="{ textAlign: 'center',background:'#048b8b',fontweight:'bold' }">
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="soChungTu" title="Số chứng từ" [width]="100" [headerCellOptions]="{ textAlign: 'center',background:'#048b8b' }">
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="ngayChungTu" title="Ngày chứng từ" [width]="160" [cellOptions]="{ format: 'dd-MM-yy' }" [headerCellOptions]="{ textAlign: 'center',background:'#048b8b' }">
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="matBangs.tenMatBang" title="Tên mặt bằng" [width]="100" [headerCellOptions]="{ textAlign: 'center',background:'#048b8b' }">
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="khachHangs.hoDem" title="Họ đệm" [width]="80" [headerCellOptions]="{ textAlign: 'center',background:'#048b8b',bordercolor:'#000' }">
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="khachHangs.ten" title="Tên" [width]="80" [headerCellOptions]="{ textAlign: 'center',background:'#048b8b' }">
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="loaiDichVus.tenLoaiDichVu" title="Loại Dịch Vụ" [width]="200" [headerCellOptions]="{ textAlign: 'center',background:'#048b8b' }">
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="donViTinhs.tenDonViTinh" title="Đơn vị tính" [width]="100" [headerCellOptions]="{ textAlign: 'center',background:'#048b8b' }">
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="donGia" title="Đơn giá" [width]="100" [cellOptions]="{format: '#,##'}" [headerCellOptions]="{ textAlign: 'center',background:'#048b8b' }">
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="soLuong" title="Số lượng" [width]="100" [headerCellOptions]="{ textAlign: 'center',background:'#048b8b' }">
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="thanhTien" title="Thành tiền" [width]="100" [cellOptions]="{format: '#,##'}" [headerCellOptions]="{ textAlign: 'center',background:'#048b8b' }">
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="ngayThanhToan" title="Ngày thanh toán" [width]="160" [cellOptions]="{ format: 'dd-MM-yy' }" [headerCellOptions]="{ textAlign: 'center',background:'#048b8b' }">
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="kyThanhToan" title="Kỳ thanh toán" [width]="100" [headerCellOptions]="{ textAlign: 'center',background:'#048b8b' }">
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="tienThanhToan" title="Tiền thanh toán" [width]="120" [cellOptions]="{format: '#,##'}" [headerCellOptions]="{ textAlign: 'center',background:'#048b8b' }">
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="tienTTQuyDoi" title="Tiền thanh toán quy đổi" [width]="200" [cellOptions]="{format: '#,##'}" [headerCellOptions]="{ textAlign: 'center',background:'#048b8b' }">
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="loaiTiens.tenLoaiTien" title="Loại tiền tệ" [width]="100" [headerCellOptions]="{ textAlign: 'center',background:'#048b8b' }">
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="tyGia" title="Tỷ giá" [width]="100" [cellOptions]="{format: '#,##'}" [headerCellOptions]="{ textAlign: 'center',background:'#048b8b' }">
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="tuNgay" title="Từ ngày" [width]="160" [cellOptions]="{ format: 'dd-MM-yy' }" [headerCellOptions]="{ textAlign: 'center',background:'#048b8b' }">
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="denNgay" title="Đến ngày" [width]="160" [cellOptions]="{ format: 'dd-MM-yy' }" [headerCellOptions]="{ textAlign: 'center',background:'#048b8b' }">
                            </kendo-excelexport-column>
                        </kendo-excelexport>
                    </a>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="box box-info">
                <!-- /.box-header -->
                <div class="box-body">
                    <div>
                        <div class="dataTables_length">
                            <div (change)="SelectedTangLauValue(drTangLau.value,drloaiDV.value,drStatus.value)">
                                <label style="margin-right:10px;">
                                    Tầng lầu
                                    <select class="form-control input-sm" #drTangLau [(ngModel)]="selectedTangLau">
                                        <option value="0">---Tất cả---</option>
                                        <option *ngFor="let o of tanglau" [value]="o.tangLauId">
                                            {{o.tenTangLau}}
                                        </option>
                                    </select>
                                </label>
                                <label style="margin-right:10px;">
                                    Loại dịch vụ
                                    <select class="form-control input-sm" #drloaiDV [(ngModel)]="selectedLoaiDV">
                                        <option value="0">---Tất cả---</option>
                                        <option *ngFor="let o of loaiDichVu" [value]="o.loaiDichVuId">
                                            {{o.tenLoaiDichVu}}
                                        </option>
                                    </select>
                                </label>
                                <label style="margin-right: 10px;">
                                    Trạng thái
                                    <select class="form-control input-sm" #drStatus [(ngModel)]="selectedTrangThai">
                                        <option value="0">---Tất cả---</option>
                                        <option value="1">Đang sử dụng</option>
                                        <option value="2">Dừng sử dụng</option>
                                    </select>
                                </label>
                                <label style="margin-right: 10px;">
                                    Ngày chứng từ
                                    <kendo-datepicker style="margin-top:-4px; height: 30px; line-height: 30px;" 
                                                      [format]="'MM/yyyy'" 
                                                      [(value)]="valueDate" 
                                                      [activeView]="'year'" 
                                                      [navigation]="false"
                                                      (valueChange)="filterDate($event)"></kendo-datepicker>
                                </label>
                                <label>
                                    Hiển thị
                                    <select class="form-control input-sm" #drSelected (change)="SelectedValue(drSelected.value)">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select> bản ghi
                                </label>
                            </div>                            
                        </div>
                        <div class="clearfix"></div>
                        <ngx-datatable class="material colored-header sm table table-striped table-hover "
                                       [loadingIndicator]="loadingIndicator"
                                       [rows]="rows"
                                       [rowHeight]="45"
                                       [headerHeight]="45"
                                       [footerHeight]="45"
                                       [columns]="columns"
                                       [limit]="limit"
                                       [columnMode]="'force'"
                                       (select)='onSelect($event)'
                                       [selectionType]="'checkbox'"
                                       [selected]="selected">
                        </ngx-datatable>
                        <ng-template #priceTemplate let-row="row" let-value="value" let-i="index" style="text-align:center">
                            <p>{{formatPrice(row.thanhTien)}}</p>
                        </ng-template>
                        <ng-template #startTemplate let-row="row" let-value="value" let-i="index" style="text-align:center">
                            <p>{{row.tuNgay | date: 'dd/MM/yyyy'}}</p>
                        </ng-template>
                        <ng-template #endTemplate let-row="row" let-value="value" let-i="index" style="text-align:center">
                            <p>{{row.denNgay | date: 'dd/MM/yyyy'}}</p>
                        </ng-template>
                        <ng-template #nameTemplate let-row="row" let-value="value" let-i="index" style="text-align:center">
                            <p *ngIf="row.lapLai == true" class="status">Có</p>
                            <p *ngIf="row.lapLai == false" class="status">Không</p>
                        </ng-template>
                        <ng-template #descriptionTemplate let-row="row" let-value="value" let-i="index" style="text-align:center">
                            <p *ngIf="row.trangThai == 1" class="status">Đang sử dụng</p>
                            <p *ngIf="row.trangThai == 2" class="status">Ngừng sử dụng</p>
                        </ng-template>
                        <ng-template #actionsTemplate let-row="row" let-value="value" let-i="index" style="text-align:center">
                            <a class="btn btn-func btn-success" href="javascript:;" (click)="viewDichVuCoBan(row)" title="Chi tiết"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-func btn-primary" href="javascript:;" (click)="editDichVuCoBan(row)" title="Sửa"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            <a class="btn btn-func btn-danger" href="javascript:;" (click)="deleteDichVuCoBan(row)" title="Xóa"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                        </ng-template>
                        <ng-template ngx-datatable-header-template #checkAllTemplate let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn" style="text-align:center">
                            <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
                        </ng-template>
                        <ng-template ngx-datatable-cell-template #checkTemplate let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn" style="text-align:center">
                            <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
                        </ng-template>
                        <dichvucoban-info #dichvucobanEditor [isGeneralEditor]="true"></dichvucoban-info>
                        <dichvucoban-import #importexcel></dichvucoban-import>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>