<section class="content-header">
    <h1>Quản lý thu phí nước</h1>
    <commonroad></commonroad>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <!--<div style="margin-bottom:1%" class="col-sm-6">
                <div class="row">
                    <search-box (searchChange)="onSearchChanged($event)" placeholder="Tìm kiếm">></search-box>
                </div>
            </div>-->
            <div style="margin-bottom:1%;" align="right" class="col-sm-12">
                <div class="row">
                    <a class="btn btn-primary" data-toggle="tooltip" href="javascript://" title="{{'preferences.addFlour' | translate}}" (click)="newDichVuNuoc()"><i class="fa fa-plus"></i></a>
                    <a class="btn btn-primary menubar" href="javascript:;" tooltip="Danh mục">
                        <i class="fa fa-bars"></i>
                        <ul class="nav navbar-nav child-menu">
                            <li><a href="javascript:;" routerLink="/congthucnuoc">Công thức nước</a></li>
                        </ul>
                    </a>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="box box-info">
                <!-- /.box-header -->
                <div class="box-body">
                    <div>
                        <div class="dataTables_length">
                            <label style="width:100%">
                                <kendo-combobox class="form-control" style="width:150px"
                                                [data]="matbangsFilter" [placeholder]="'Mặt bằng'"
                                                [textField]="'tenMatBang'"
                                                [valueField]="'matBangId'"
                                                [(ngModel)]="matbangSelected" name="matBang"
                                                (valueChange)="matbangChange($event)"
                                                [filterable]="true"
                                                (filterChange)="matbangfilterChange($event)">
                                    <ng-template kendoDropDownListNoDataTemplate>
                                        <p><span class="k-icon k-i-warning" style="font-size:30px"></span><br /><br /> Không tìm thấy kết quả nào</p>
                                    </ng-template>
                                </kendo-combobox>

                                Năm
                                <select name="snam" [(ngModel)]="snam" class="form-control" style="width:100px;height:30px" (change)="snamChange(snam.value)">
                                    <option *ngFor="let o of nams" [value]="o">
                                        {{o}}
                                    </option>
                                </select>
                                Tháng
                                <select name="sthang" [(ngModel)]="sthang" class="form-control" style="width:100px;height:30px" (change)="sthangChange(sthang.value)">
                                    <option value="0">-Cả năm-</option>
                                    <option value="1">Tháng 1</option>
                                    <option value="2">Tháng 2</option>
                                    <option value="3">Tháng 3</option>
                                    <option value="4">Tháng 4</option>
                                    <option value="5">Tháng 5</option>
                                    <option value="6">Tháng 6</option>
                                    <option value="7">Tháng 7</option>
                                    <option value="8">Tháng 8</option>
                                    <option value="9">Tháng 9</option>
                                    <option value="10">Tháng 10</option>
                                    <option value="11">Tháng 11</option>
                                    <option value="12">Tháng 12</option>
                                </select>                                
                            </label>
                        </div>
                        <div class="DTTT_container">
                            <label>
                                Hiển thị
                                <select class="form-control input-sm" #drSelected (change)="SelectedValue(drSelected.value)">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select> bản ghi
                            </label>
                        </div>
                        <div class="clearfix"></div>
                        <ngx-datatable class="material colored-header sm table table-striped table-hover "
                                       [loadingIndicator]="loadingIndicator"
                                       [rows]="rows"
                                       [rowHeight]="45"
                                       [headerHeight]="45"
                                       [footerHeight]="45"
                                       [columns]="columns"
                                       [limit]="limit"
                                       [columnMode]="'force'">
                        </ngx-datatable>
                        <ng-template #namthangTemplate let-row="row" let-value="value" let-i="index" style="text-align:center">
                            {{row.thang}}/{{row.nam}}
                        </ng-template>
                        <ng-template #tienTemplate let-row="row" let-value="value" let-i="index">
                            {{getFormatPrice(row.thanhTien)}}
                        </ng-template>
                        <ng-template #vatTemplate let-row="row" let-value="value" let-i="index">
                            <p>{{getFormatPrice(row.tienVAT)}} ({{row.tyLeVAT}}%)</p>                            
                        </ng-template>
                        <ng-template #bvmtTemplate let-row="row" let-value="value" let-i="index">
                            <p>{{getFormatPrice(row.tienBVMT)}} ({{row.tyLeBVMT}}%)</p>                            
                        </ng-template>
                        <ng-template #tienthanhtoanTemplate let-row="row" let-value="value" let-i="index">
                            {{getFormatPrice(row.tienThanhToan)}}
                        </ng-template>
                        <ng-template #actionsTemplate let-row="row" let-value="value" let-i="index" style="text-align:center">
                            <a class="btn btn-func btn-primary" href="javascript:;" (click)="editDichVuNuoc(row)" title="Sửa"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            <a class="btn btn-func btn-danger" href="javascript:;" (click)="deleteDichVuNuoc(row)" title="Xóa"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                        </ng-template>
                        <dichvunuoc-info #dichvunuocEditor [isGeneralEditor]="true"></dichvunuoc-info>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>