<div style="min-width:1000px">
    <ngx-datatable class="material colored-header sm table table-striped table-hover"
                   [loadingIndicator]="loadingIndicator"
                   [rows]="rows"
                   [rowHeight]="45"
                   [headerHeight]="45"
                   [footerHeight]="45"
                   [limit]="limit"
                   [columns]="columns"
                   [scrollbarV]="false"
                   [columnMode]="'force'">
    </ngx-datatable>
</div>